body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:lightskyblue; /* Decent background color */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

header input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

header button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.option {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.option h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}